.title-zone {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.buttons-zone {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

dbz-newcharacter{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
dbz-detail {
    display: flex;
    justify-content: center;
    align-items: center;     
}
dbz-editcharacter {
    display: flex;
    justify-content: center;
    align-items: center;     
}